body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* height: 100vh; */
  margin: 0;
}

.contenedor_mini_figma {
  padding: 40px;
}

.div_imagen {
  position: relative;
  display: table;
}

.contenedor_motor_busqueda {
    width: auto;
    display: table;
    margin: auto;
}

.base_botones_google {
    width: auto;
    display: none;
    margin: 12px auto 0px auto;
}




.icono_volver {
    width: 26px;
    float: left;
    margin-right: 14px;
    position: relative;
    top: -1px;
    cursor: pointer;
    display: none;
}

.base_seleccion_motor {
    width: 361px;
    display: block;
    padding: 14px 22px 15px 22px;
    position: fixed;
    z-index: 5;
    background-color: #ffffff;
    border: 1px solid #b5b5b5;
}

.base_botones_AI{
  
    width: auto;
    display: none;
    margin: 12px auto 0px auto;

}

.boton_texto {
    padding: 0px 10px;
    background-color: #ea4739;
    font-family: "jali-latin-variable";
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ea4739;
}

.espacio_txt {
    margin-bottom: 5px;
    text-align: center;
}

.boton_imagen {
    padding: 0px 10px;
    background-color: #4386f4;
    font-family: "jali-latin-variable";
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    border: 1px solid #4386f4;
}

.btn_txt_AI {
    background-color: #0f0f0f;
    border: 1px solid #000;
}

.icono_cerrar_motor_busqueda {
    position: absolute;
    font-size: 13px;
    top: 5px;
    right: 9px;
    background-color: #0101019e;
    padding: 1px 6px 0px 6px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.btn_imagen_AI {
    background-color: #0f0f0f;
    border: 1px solid #000;
}


.logo_google {
    width: 90px;
    float: left;
    cursor: pointer;
    margin-right: 22px;
}

.linea_divisora {
    width: 88%;
    height: 1px;
    background-color: #0a0b12;
    border: none;
    margin: 20px auto;
}

.tituloRespusta {
    padding: 0px 20px;
    color: #000000b8;
    font-weight: 600;
}


.btn_open_AI_seleccionado{
      background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
}

.nueva_busqueda{
    position: fixed;
    width: 361px;
    display: table;
    background-color: #ffffff;
    z-index: 2;
    padding: 11px 0px 15px 0px;
 
    border-bottom: 1px solid #000000;
}



.txt_google_seleccionado{

    color: #ea4739;
    background-color: #fff;
    border: 1px solid #ea4739;

}


.image_google_seleccionado{

    color: #4386f4;
    background-color: #fff;
    border: 1px solid #4386f4;

}


a {
    width: 307px;
    overflow: hidden;
    display: block;
    margin: auto;
    color: #1a73e8 !important;
    font-size: 16px;
}

.logo_AI{

    width: 100px;
    float: left;
    cursor:pointer;
}

.boton_descarga {
  width: auto;
  float: right;
  margin: 0px 0px 18px 0px;
  font-size: 14px;
  background-color: #003c8b;
  padding: 3px 8px 5px 8px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.imagen_GTP {
  width: 90%;
  float: right;
  margin-bottom: 8px;
  cursor: pointer;
}

.chat-container {
    width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    overflow: hidden;
   
}

.base_cinta_informativa {
    width: 100%;
    display: none;
    background-color: #000000;
    padding: 6px 14px;
    margin: auto;
    cursor: pointer;
}

.texto_uso {
    float: left;
    font-size: 15px;
    color: #fff;
}

.logo_google_informativo {
    width: 60px;
    margin: 0px 11px;
    display: block;
    float: left;
    position: relative;
    top: 1px;
}

.chat-window {
  height: 400px;
  overflow-y: scroll;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.Mensaje {
  width: 100%;
  display: table;
  margin-bottom: 19px;
  text-align: right;
  width: auto;
  float: right;
}

.Mensaje.user {
    width: 100%;
    display: table;
    margin-bottom: 35px;
    text-align: right;
    float: right;
}

.Mensaje.user h2 {
  font-size: 17px;
  margin-bottom: 6px;
  color: #1a73e8;
}

.Mensaje.user2 {
  width: 100%;
}

.Mensaje.user2 h2 {
  font-size: 17px;
  margin-bottom: 5px;
  color: #000000;
  margin-left: 19px;
}

.Mensaje.user p {
  padding: 5px 19px;
  width: fit-content;
  background-color: #1a73e8;
  border-radius: 4px;
  color: #fff;
  float: right;
  margin: 0px;
  line-height: 22px;
  font-family: "jali-latin-variable";
  font-weight: 400;
}

form {
  display: flex;
  border-top: 1px solid #ddd;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #d4d4d4;
}

.boton_enviar {
  padding: 0 20px;
  border: none;
  background-color: #0f0f0f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.user2 {
  text-align: left;
  color: #666666;
  font-size: 17px;
  line-height: 22px;
}

.base_contendor_loading {
  width: 100%;
  height: 133px;
  overflow: hidden;
}

.loading_chat {
  width: 100%;
  position: relative;
  top: -65px;
}

.Mensaje.user2 p {
  padding: 6px 19px;
  width: fit-content;
  /* background-color: #070707; */
  border-radius: 8px;
  color: #000000;
  float: left;
  margin: 0px;
  line-height: 22px;
  font-family: "jali-latin-variable";
  font-weight: 300;
}

.icono_chat {
  width: 48px;
  cursor: pointer;
  float: right;
}

.contenedor_principal_chat {
  width: auto;
  display: table;
  position: absolute;
  right: 37px;
  bottom: 24px;
  z-index: 9;
}

.icono_cerrar {
  width: 36px;
  position: absolute;
  right: -17px;
  top: -20px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
}
